body {
  font-size: 1em;
  margin: 0 auto;
}

div.wrapper {
  margin: 0 auto;
}

div.masthead {
  margin: 0 auto;
  padding: 1.2em 0 1em 0;
  height: auto;
  background-color: rgb(209, 52, 52);
}

strong {
  font-weight: 700;
}

a.story-link {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid;
  margin-bottom: 2px;
}

ul.footer-nav {
  list-style: none;
  display: table;
  margin: 0 auto;
  width: 60%;
}

div.site-footer {
  background-color: #333;
  padding: 2em 0 3.5em 0;
  color: #fff;
}

ul.masthead-nav {
  display: flex;
  justify-content: center;
  list-style: none;
}

li.masthead-nav a {
  color: white;
  text-decoration: none;
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  font-size: 1.5em;
  padding: 0 0.6em;
}

li.masthead-nav:last-child {
  padding-left: 1.8em;
}

div.story-container {
  padding: 5em 0em 2em 0em;
  text-align: left;
  width: 83%;
  margin: 0em auto;
}

blockquote.story {
  font-family: "Merriweather";
  font-weight: 400;
  font-style: italic;
  font-size: 1.2em;
  line-height: 1.617em;
  margin: 0px 0px 1.5em 1em;
  padding: 0px;
  text-align: left;
}

h1 {
  font-size: 1.5em;
  line-height: 1.55em;
  font-family: Merriweather;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  margin-bottom: 1.5em;
}

p.heading {
  font-size: 1em;
  line-height: 1.72em;
  font-family: Merriweather;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  margin-bottom: 1.5em;
}

p.story {
  font-size: 1em;
  line-height: 1.72em;
  font-family: Merriweather;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  margin-bottom: 1.5em;
}

ul.story {
  padding: 0 1.5em;
  margin-bottom: 1.5em;
}

ul.story li {
  font-size: 1em;
  line-height: 1.72em;
  font-family: Merriweather;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  padding-bottom: 1.1em;
}

ol.story {
  padding: 0 1.5em;
  margin-bottom: 1.5em;
}

ol.story li {
  font-size: 1em;
  line-height: 1.72em;
  font-family: Merriweather;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  padding-bottom: 1.5em;
}

h2.story {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  margin: 0em 0px 0.3em 0px;
  line-height: 1em;
  font-size: 1.83em;
  padding: 0.5em 0px 0px 0px;
}

li.footer-nav a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  padding: 0 0.6em;
}

li.footer-nav {
  display: table-cell;
  width: 100%;
}

@media screen and (min-width: 480px) {
  div.masthead {
    padding-bottom: 2.4em;
  }

  li.masthead-nav a {
    font-size: 1.55em;
  }

  li.masthead-nav:last-child {
    padding-left: 3em;
  }

  div.site-footer {
    padding: 2em 0 4em 0;
  }

  blockquote.story {
    font-size: 1.29em;
    line-height: 1.618em;
  }

  li.footer-nav a {
    font-size: 1.8em;
  }

  ul.footer-nav {
    width: 50%;
  }
}
@media screen and (min-width: 768px) {
  li.masthead-nav:last-child {
    padding-left: 3.3em;
  }

  li.masthead-nav a {
    font-size: 1.6em;
  }

  h1 {
    font-size: 1.7em;
    line-height: 1.7em;
  }

  p.story {
    font-size: 1.1em;
    line-height: 1.721em;
  }

  div.site-footer {
    padding: 2.5em 0 6em 0;
  }

  div.story-container {
    width: 80%;
    padding: 10em 0px 3em 0px;
  }

  blockquote.story {
    margin: 0px 0px 1.474em 2em;
  }

  ul.story li {
    font-size: 1.1em;
    line-height: 1.721em;
  }

  ol.story li {
    font-size: 1.1em;
    line-height: 1.721em;
  }

  h2.story {
    font-size: 2.04em;
    line-height: 1em;
    margin: 0px 0px 0.297em 0px;
    padding: 1em 0px 0px 0px;
  }

  li.footer-nav a {
    font-size: 2em;
  }

  ul.footer-nav {
    width: 40%;
  }

  div.masthead {
    padding: 1.8em 0 2.6em 0;
  }
}
@media screen and (min-width: 1024px) {
  li.masthead-nav:last-child {
    padding-left: 5.8em;
  }

  li.masthead-nav a {
    font-size: 2em;
  }

  p.story {
    font-size: 1.16em;
    line-height: 1.82em;
  }

  div.site-footer {
    padding: 2.5em 0 7em 0;
  }

  div.story-container {
    width: 80%;
    padding: 10em 0px 5em 0px;
  }

  blockquote.story {
    font-size: 1.51em;
    line-height: 1.619em;
    margin: 1em 0px 2em 1.962em;
  }

  ul.story li {
    font-size: 1.16em;
    line-height: 1.82em;
    padding-bottom: 1.1em;
  }

  ol.story li {
    font-size: 1.16em;
    line-height: 1.82em;
    padding-bottom: 1.5em;
  }

  h2.story {
    font-size: 2.16em;
    line-height: 1em;
    margin: 0em 0px 0.293em 0px;
  }

  li.footer-nav a {
    font-size: 2.1em;
  }

  ul.footer-nav {
    width: 35%;
  }

  div.masthead {
    padding: 2.2em 0 3em 0;
  }
}
@media screen and (min-width: 1280px) {
  div.site-footer {
    padding: 3em 0 8em 0;
  }

  div.story-container {
    width: 65%;
  }

  p.story {
    font-size: 1.22em;
    line-height: 1.821em;
  }

  ul.story li {
    font-size: 1.22em;
    line-height: 1.821em;
    padding-bottom: 1.1em;
  }

  ol.story li {
    font-size: 1.22em;
    line-height: 1.821em;
    padding-bottom: 1.5em;
  }

  h2.story {
    font-size: 2.29em;
    line-height: 1em;
    margin: 0em 0px 0.294em 0px;
  }

  ol.story li:last-child {
    padding-bottom: 0;
  }

  ul.footer-nav {
    width: 30%;
  }
}
